<!DOCTYPE html>
<html lang="ru">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/public/stylesheets/style.css" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">

<head class="head_auth">
    <meta charset="UTF-8">
    <title>Авторизация</title>
</head>
<body class="body_auth">
    <div id="modal">
        <img src="/public/images/casual-life-3d-blue-scared-ghost 1.svg">
        <h1 class="head_auth">Войдите в игру</h1>
        <form action="/auth" method="post" id="inputs">
            <% if (hasError) { %>
                <div class="err_text">
                <input class="textfield"  id="login" name="login" placeholder="Логин" required title="Только английские буквы, цифры и знаки: . и _" style="border: 1px solid #e93e3e">
                Неверный логин</div>
                <div class="err_text">
                <input class="textfield" id="password" name="password" placeholder="Пароль" required title="Только английские буквы, цифры и знаки: . и _" style="border: 1px solid #e93e3e">
                Неверный пароль</div>
            <% } else { %>
                <input class="textfield"  id="login" name="login" placeholder="Логин" required title="Только английские буквы, цифры и знаки: . и _">
                <input class="textfield"  id="password" name="password" placeholder="Пароль" required title="Только английские буквы, цифры и знаки: . и _">
                <% } %>
            
            <input type="submit" class="join" id="button_auth" value="Войти"></input>
        </form>
        <script src="../public/javascripts/validate.js"></script>
    </div>    
</body>
</html>
<style> </style>