<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/public/stylesheets/style.css" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <title>Рейтинг</title>
</head>
<body class="body_rating">
    <header class="head_auth">
        <div id="logo"><img src="../images/s-logo.svg" /></div>
        <div id="nav-panel">
            <div>Игровое поле</div>
            <div class="active">Рейтинг</div>
            <div>Активные игроки</div>
            <div>История игр</div>
            <div>Список игроков</div>
        </div>
        <button><img src="../images/signout-icon.svg" /></button>
    </header>
    <div id="rating"> 
        <div id="table-name">Рейтинг игроков</div>
        <table>
            <tbody>
            <tr>
            <th class="firstcol">ФИО</th>
            <th class="stcol">Всего игр</th>
            <th class="stcol">Победы</th>
            <th class="stcol">Проигрыши</th>
            <th class="lastcol">Процент побед</th>
            </tr>
                <% for(var i = 0; i < players.length; i++) { %>
                    <tr>
                    <td class="firstcol"><%= players[i].name %></td>
                    <td class="stcol"><%= players[i].games %></td>
                    <td class="stcol-green"><%= players[i].wins %></td>
                    <td class="stcol-red"><%= players[i].loses %></td>
                    <td class="stcol"><%= players[i].wins/players[i].games*100%>%</td>
                    </tr>
                <% } %>
          
          
            </tbody>
            </table>
    </div>
</body>
</html>