* {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #373745;
  
}

.App 
{
  width: 100%;

}

#root {
  width: 100%;
}

html {
  height: 100%;
  width: 100%;
}
.body_auth {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  }

.head_auth {
      /* Headers / H1 – bold */
box-sizing:  content-box;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
margin: 20px;
/* identical to box height, or 36px */

display: flex;
align-items: center;
text-align: center;

/* Gray / 700 */

color: #373745;
}

.err_text {
  font-size: 12px;
  padding: 0;
  line-height: 16px;
  color:#e93e3e;
  
}

#modal{
  width: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 24px;

  

  /* Gray / White */

  background: #FFFFFF;
  /* Elevation / Lv2 */

  box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
  border-radius: 16px;
}
.popUp
{
  position: fixed;
  top: 131.5px;
  left: 131.5px;
  min-width: 320px;
  background: #FFFFFF;
  font-weight: 700;
  /* Elevation / Lv2 */
  padding: 40px;
  box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.addplayermodal {
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 200px);
  min-width: 320px;
  background: #FFFFFF;
  font-weight: 700;
  /* Elevation / Lv2 */
  padding: 24px;
  box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.rowchoose {
  /* row */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 40px;

width: 352px;
height: 80px;

}
.radioset {
  /* radio-set */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 104px;
height: 48px;

}
.radiobutton {
  /* radio-button */


/* Auto layout */
cursor: pointer;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 10px;
width: 48px;
height: 48px;
border: 1px solid #DCDCDF;
background: #FFFFFF;
border-radius: 1000px;
}

.radiobuttonchecked {
  /* radio-button */


/* Auto layout */
cursor: pointer;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 10px;
width: 48px;
height: 48px;

background: #60C2AA;
border-radius: 1000px;
}


.rowclose {
  /* row */


/* Auto layout */

display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 352px;
height: 24px;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.inputset {
  /* input-set */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;
font-weight: 500;
width: 352px;
height: 80px;


/* Inside auto layout */

}
.gameslistrow {
  /* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 1010px;
height: 48px;

/* Gray / White */

background: #FFFFFF;
/* Border / Bottom */

box-shadow: inset 0px -1px 0px #EEEFF5;
flex: none;
  order: 0;
  flex-grow: 0;
}
.gameslistheader {
  /* row */
  
  
  /* Auto layout */
  
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 4px 0px;
  gap: 16px;
  justify-content: space-between;
  width: 1010px;
  height: 48px;
  
  /* Gray / White */
  
  background: #FFFFFF;
  /* Border / Bottom */
  
  box-shadow: inset 0px -1px 0px #EEEFF5;
  box-sizing: border-box;
  /* Inside auto layout */
  

  }
.role {
  width: 16px;
  height: 16px;
}

#activePlayers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  gap: 24px;
  padding-bottom: 44px;
  position: absolute;
  left: calc(50% - 781px/2);
  top: 144px;

  /* Gray / White */

  background: #FFFFFF;
  /* Elevation / Lv2 */

  box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
  border-radius: 40px;
}
#playerslist {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    gap: 24px;
    padding-bottom: 44px;
    position: absolute;
    left: calc(50% - 1416px/2);
    top: 144px;
  
    /* Gray / White */
  
    background: #FFFFFF;
    /* Elevation / Lv2 */
  
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 40px;
  }
  #gameslist {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    gap: 8px;
    height: 792px;
    position: absolute;
    left: calc(50% - 1074px/2);
    top: 144px;
  
    /* Gray / White */
  
    background: #FFFFFF;
    /* Elevation / Lv2 */
  
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 40px;
  }


.switchActive {
  width: 195px;
  height: 24px;
  gap: 10px;
  /* Body / 16px regular */
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  
  display: flex;
  align-items: baseline;
  align-content: center;
  letter-spacing: 0.24px;
  
  /* Gray / 700 */
  
  color: #373745;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 1;
  flex-grow: 0;
}

.toggle {
  width: 40px;
  height: 36px;
  
  /* Body / 16px regular */
  

  /* identical to box height, or 150% */
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
  letter-spacing: 0.24px;
  
  /* Gray / 700 */
  
  color: #373745;
  
  
  /* Inside auto layout */
  

}
.playerslistheader {
/* row */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 4px 0px;
gap: 16px;

width: 1352px;
height: 48px;

/* Gray / White */

background: #FFFFFF;
/* Border / Bottom */

box-shadow: inset 0px -1px 0px #EEEFF5;
box-sizing: border-box;
/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.versus {
  display: flex;
flex-direction: row;
align-items: center;
gap: 12px;
font-weight: 700;
width: 678px;
height: 48px;

}
.playerslistrow {
  /* row */
  
  
  /* Auto layout */
  
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
  align-items: center;
  width: 1352px;
  height: 64px;
  
  /* Gray / White */
  
  background: #FFFFFF;
  /* Border / Bottom */
  
  box-shadow: inset 0px -1px 0px #EEEFF5;
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  flex-grow: 0;
  }
/* For header */
.firstcolplh{
  box-sizing: border-box;
  width: 440px;
  text-align: start;
}
.minicolh{
  box-sizing: border-box;
  width: 46px;
  text-align: start;
}
.stcolplh {
  box-sizing: border-box;
  width: 160px;
  text-align: start; 
}
.lastcolplh {
  box-sizing: border-box;
  width: 190px;
  text-align: start;
}

.firstcolpl{
  box-sizing: border-box;
  width: 440px;
  text-align: start;
  display: flex;
  align-items: center; 
}
  .minicol{
    box-sizing: border-box;
    width: 46px;
    text-align: start;
    display: flex;
    align-items: center;
  }
  .stcolpl {
    box-sizing: border-box;
    width: 160px;
    text-align: start;
    display: flex;
    align-items: center; 
  }
  .lastcolpl {
    
    box-sizing: border-box;
    width: 190px;
    text-align: start;
    display: flex;
    align-items: center;
  }


.playercolg{
  box-sizing: border-box;
  text-align: start;
  display: flex;
  min-width: 225px;
  align-items: center; 
  gap: 8px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.24px;
}

.stcolg {
  box-sizing: border-box;
  width: 160px;
  text-align: start;
  display: flex;
  align-items: center; 
  }
.lastcolg {

  box-sizing: border-box;
  width: 190px;
  text-align: start;
  display: flex;
  align-items: center;
    }


#activeHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 0;
  gap: 10px;
  color: #373745;
  width: 717px;
  height: 36px;
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.primaryButton {
  /* Primary-button */


/* Auto layout */

display: flex;
flex-direction: row;
padding: 12px 20px;
gap: 8px;

width: 121px;
height: 24px;

/* Body / 16px medium */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.24px;

/* Gray / White */

color: #FFFFFF;
background: #60C2AA;
border-radius: 12px;
}
.secondaryButton {
 /* Primary-button */


/* Auto layout */

display: flex;
flex-direction: row;
padding: 12px 20px;
gap: 8px;

width: 121px;
height: 24px;

/* Body / 16px medium */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.24px;

/* Gray / White */

color: #898993;
background: #F7F7F7;
border-radius: 12px;
}
.right {
  /* right */


/* Auto layout */

display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 80px;

width: 341px;
height: 48px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.statusfree {
/* Label */

display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100px;
height: 32px;

background: #A8D37F;
border-radius: 6px;

/* Inside auto layout */



font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

letter-spacing: 0.24px;

/* Gray / White */

color: #FFFFFF;


}

.statusbusy {
/* Label */

display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100px;
height: 32px;
background: #87CAE8;
border-radius: 6px;


/* Body / 16px regular */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

letter-spacing: 0.24px;

/* Gray / White */

color: #FFFFFF;
}

.statusblocked {
  /* Label */
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 136px;
  height: 32px;
  background: #EC7777;
  border-radius: 6px;
  
  
  /* Body / 16px regular */
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  
  letter-spacing: 0.24px;
  
  /* Gray / White */
  
  color: #FFFFFF;
  }
  .statusactive{
    /* Label */
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 136px;
    height: 32px;
    background: #A8D37F;
    border-radius: 6px;
    
    
    /* Body / 16px regular */
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    letter-spacing: 0.24px;
    
    /* Gray / White */
    
    color: #FFFFFF;
    }
.block{
  /* Secondary-button */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
gap: 8px;
padding: 0 19px;
height: 40px;
line-height: 100%;
margin-top: 12px;
/* Gray / 50 */
justify-content: center;
background: #F7F7F7;
border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.blockimg {
  width: 20px;
  height: 20px;
  line-height: 24px;
}
.blockbutton {
  display: flex;
  align-items: center;
  gap: 10px;
}
.unblock{
  /* Secondary-button */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
gap: 8px;
padding: 0 25px;
height: 40px;
line-height: 100%;
margin-top: 12px;
/* Gray / 50 */

background: #F7F7F7;
border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}


.activerow {
  display: flex;
flex-direction: row;
align-items: center;
gap: 16px;
width: 717px;
height: 72px;

/* Gray / White */

background: #FFFFFF;

/* Inside auto layout */
justify-content: space-between;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.activePlayerName {
  width: 360px;
}
.tableActive {
  gap: 0px;
}

h2 {
  font-weight: 700;
  line-height: 36px;
  font-size: 24px;
  padding: 0;
  margin: 0;
}
#inputs {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.textfield {
  /* Textfield */


  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 20px;
  width: 352px;
  height: 48px;
  font-weight: 400;

  /* Gray / White */

  background: #FFFFFF;
  /* Gray / 100 */

  border: 1px solid #DCDCDF;
  border-radius: 12px;


}
.join {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 352px;
  height: 48px;
  margin-top: 8px;
  background: rgba(96, 194, 170, 0.3);
  border-radius: 12px;
  border: 0px solid #DCDCDF;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}

.join:hover{
  background-color: rgba(47, 218, 175, 0.438);
  color: #373745;
  cursor: pointer;
}   

/* xo-panel */
body {
  display: flex;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #F6F6F6;
}

* {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
}

header {
  position: absolute;
  width: 100%;
  height: 64px;
  left: 0;
  top: 0;
  box-sizing: border-box;
  /* Gray / White */

  background: #FFFFFF;
  /* Elevation/Lv1 */

  box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
  border-radius: 0px 0px 16px 16px;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  gap: 10px;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

#nav-panel {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 16px;
  height: 32px;


  /* Inside auto layout */

  flex: none;
  flex-grow: 0;
}
ul {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
}

#nav-panel a{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.active {
  color: white;
}

#nav-panel li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 12px;
  gap: 10px;

  /* Inside auto layout */

  flex: none;
  flex-grow: 0;

  /* Body / 16px medium */

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  /* identical to box height, or 150% */

  letter-spacing: 0.24px;

  /* Gray / 700 */

  color: #373745;
}

#nav-panel .active {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 12px;
  gap: 10px;

  background: #60C2AA;
  border-radius: 200px;
  color: white;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

#main-container {
  height: 100%;
  margin-top: 124px;
  padding: 60px 40px;
  display: flex;
  justify-content: space-between;
}

#subject-list {
  /* Auto layout */

  display: flex;
  height: fit-content;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 24px;
  box-sizing: border-box;
  width: 500px;
  position: relative;
  left: 0;

  /* Gray / White */

  background: #FFFFFF;
  /* Elevation / Lv2 */

  box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
  border-radius: 20px;
}

#subject-list h1 {
  /* Headers / H1 – bold */

  font-weight: 700;
  font-size: 24px;
  line-height: 150%;

  /* Gray / 700 */

  color: #373745;
  margin: 0;
}

#subject-list>.container {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

#subject-list>.container>.subject-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

#subject-list .subject-name {
  /* Headers / H2 – regular */
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */

  letter-spacing: 0.15px;

  /* Gray / 700 */

  color: #373745;
}

#subject-list .subject-percent {
  /* Body / 14px regular */
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  letter-spacing: 0.25px;

  /* Gray / 400 */

  color: #898993;
}

#subject-list .subject-icon {
  width: 24px;
  height: 24px;
}

#subject-list .subject-info {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
}

#game-container {
  width: 663px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-content: center;
  align-items: center;
  justify-content: center;

}


#game-time {
  width: fit-content;
  padding: 24px;

  background: #EDEDED;
  border-radius: 12px;

  /* Headers / Jumbo – black */
  font-style: normal;
  font-weight: 900;
  font-size: 34px;
  line-height: 40px;
  /* identical to box height */

  letter-spacing: 0.25px;

  /* Gray / 700 */

  color: #373745;
}

#game-board {

  box-sizing: border-box;
  width: 663px;
  height: 663px;
  display: grid;

  grid-template-columns: repeat(3, 218.33px);
  align-items: start;
  gap: 4px;
  
  filter: drop-shadow(0px 4px 20px rgba(44, 57, 121, 0.09));
}

#game-board .cell {
 
  height: 218px;
  padding: 0;
  /* Gray / White */

  background: #FFFFFF;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#game-step {
  width: 400px;
  height: 48px;
  padding: 12px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  /* Gray / 700

  Text
  */
  background: #373745;
  /* Elevation / Lv2 */

  box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
  border-radius: 12px;

  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */

  letter-spacing: 0.15px;

  /* Gray / White */

  color: #FFFFFF;
}

#chat-container {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-self: flex-end;
  padding: 0px;
  margin-bottom: 88px;
  gap: 20px;

  width: 412px;

  /* Body / 16px regular */
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  letter-spacing: 0.24px;

  /* Gray / 700 */

  color: #373745;
}

.msgs-container {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 12px;
}

.msg-container {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
  gap: 8px;
  width: 352px;
  box-sizing: border-box;

  /* Gray / White */

  background: #FFFFFF;
  /* Elevation/Lv1 */

  box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
}

.msg-container.other {
  align-self: flex-start;
  border-radius: 16px 16px 16px 0px;
}

.msg-container.me {
  align-self: flex-end;
  border-radius: 16px 16px 0px 16px;
}

.msg-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  width: -webkit-fill-available;
}

.subject-name {
  /* Body / 14px medium */
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  letter-spacing: 0.25px;
}

.subject-name.x {
  color: #60C2AA;
}

.subject-name.zero {
  color: #E38BAC;
}

.msg-header .time {
  /* Body / 14px regular */
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  letter-spacing: 0.25px;

  /* Gray / 400 */

  color: #898993;
}

.msg-interactive-elements {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  padding: 0px;
  gap: 12px;
  width: -webkit-fill-available;
}

.msg-interactive-elements button {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px;
  gap: 8px;

  width: 48px;
  height: 48px;

  background: #60C2AA;
  border-radius: 12px;
}

.msg-interactive-elements textarea {
  resize: none;
  width: -webkit-fill-available;
  height: 48px;
  max-height: max-content;
  overflow: hidden;
  /* Textfield */


  box-sizing: border-box;

  /* Auto layout */

  padding: 12px 20px;
  gap: 8px;

  /* Gray / White */

  background: #FFFFFF;
  /* Gray / 100 */

  border: 1px solid #DCDCDF;
  border-radius: 12px;


  /* Body / 16px regular */
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: 0.24px;

  color: #373745;
}

/* rating */
.body_rating {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: center;
  background: #F6F6F6;
}

* {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.header_rating {
  position: fixed;
  width: -webkit-fill-available;
  height: 64px;
  left: 0;
  top: 0;
  box-sizing: border-box;
  /* Gray / White */

  background: #FFFFFF;
  /* Elevation/Lv1 */

  box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
  border-radius: 0px 0px 16px 16px;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  gap: 10px;
}


#nav-panel {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 16px;
  
  height: 32px;


  /* Inside auto layout */

  flex: none;
  flex-grow: 0;
}


#rating {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 32px 44px;
  position: relative;
  width: 1026px;
  height: 856px;
  top: 64px;

  box-sizing: border-box;

  /* Gray / White */

  background: #FFFFFF;
  /* Elevation / Lv2 */

  box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
  border-radius: 40px;
}
table {
  width: 962px;
  box-sizing: border-box;
  border-spacing: 10px;
  
}
#table-name{

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #373745;
  line-height: 150%;
}

th {
  box-sizing: border-box;


  height: 24px;
  /* Body / 16px medium */
  padding: 8px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  align-items: start;
  text-align: center;
  letter-spacing: 0.24px;

  /* Gray / 700 */

  color: #373745;
}
td {


  
  height: 24px;
  /* Body / 16px medium */
  padding: 8px;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  align-items: start;

  letter-spacing: 0.24px;

  /* Gray / 700 */

  color: #373745;
}
.firstcol{
  box-sizing: border-box;
  width: 440px;
  text-align: start;
}
.stcol {
  box-sizing: border-box;
  width: 108px;
  text-align: start; 
}
.stcol-green{
  box-sizing: border-box;
  width: 108px;
  text-align: start;
  color:#69B849;
}
.stcol-red{
  box-sizing: border-box;
  width: 108px;
  text-align: start;
  color:#E93E3E;
}
.lastcol {
  box-sizing: border-box;
  width: 134px;
  text-align: start;
}
