* {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #373745;
  
}
html {
  height: 100%;
}
.body_auth {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: #E5E5E5;
  }
.head_auth {
      /* Headers / H1 – bold */

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 150%;
/* identical to box height, or 36px */

display: flex;
align-items: center;
text-align: center;

/* Gray / 700 */

color: #373745;
}
#modal{
  
  position: absolute;
  display: flex;
  width: 400px;
  height: 464px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 24px;
  gap: 20px;

  

  /* Gray / White */

  background: #FFFFFF;
  /* Elevation / Lv2 */

  box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
  border-radius: 16px;
}
#inputs {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.textfield {
  /* Textfield */


  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 20px;
  width: 352px;
  height: 48px;
  font-weight: 400;

  /* Gray / White */

  background: #FFFFFF;
  /* Gray / 100 */

  border: 1px solid #DCDCDF;
  border-radius: 12px;


}
.join {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  width: 352px;
  height: 48px;
  background: rgba(96, 194, 170, 0.3);
  border-radius: 12px;
  border: 0px solid #DCDCDF;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.join:hover{
  background-color: rgba(47, 218, 175, 0.438);
  color: #373745;
  cursor: pointer;
}   

/* xo-panel */
body {
  margin: 0;
  padding: 0;

  background: #F6F6F6;
}

* {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
}

header {
  position: fixed;
  width: -webkit-fill-available;
  height: 64px;
  left: 0;
  top: 0;
  box-sizing: border-box;
  /* Gray / White */

  background: #FFFFFF;
  /* Elevation/Lv1 */

  box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
  border-radius: 0px 0px 16px 16px;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  gap: 10px;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

#nav-panel {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 16px;
  
  height: 32px;


  /* Inside auto layout */

  flex: none;
  flex-grow: 0;
}

#nav-panel div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 4px 12px;
  gap: 10px;

  /* Inside auto layout */

  flex: none;
  flex-grow: 0;

  /* Body / 16px medium */

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: 0.24px;

  /* Gray / 700 */

  color: #373745;
}

#nav-panel .active {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 4px 12px;
  gap: 10px;

  background: #60C2AA;
  border-radius: 200px;
  color: white;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

#main-container {
  height: -webkit-fill-available;
  margin-top: 64px;
  padding: 60px 40px;
  display: flex;
  justify-content: space-between;
}

#subject-list {
  /* Auto layout */

  display: flex;
  height: fit-content;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 24px;
  box-sizing: border-box;
  width: 500px;

  /* Gray / White */

  background: #FFFFFF;
  /* Elevation / Lv2 */

  box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
  border-radius: 20px;
}

#subject-list h1 {
  /* Headers / H1 – bold */

  font-weight: 700;
  font-size: 24px;
  line-height: 150%;

  /* Gray / 700 */

  color: #373745;
  margin: 0;
}

#subject-list>.container {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

#subject-list>.container>.subject-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

#subject-list .subject-name {
  /* Headers / H2 – regular */
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */

  letter-spacing: 0.15px;

  /* Gray / 700 */

  color: #373745;
}

#subject-list .subject-percent {
  /* Body / 14px regular */
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  letter-spacing: 0.25px;

  /* Gray / 400 */

  color: #898993;
}

#subject-list .subject-icon {
  width: 24px;
  height: 24px;
}

#subject-list .subject-info {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
}

#game-container {
  width: 663px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-content: center;
  align-items: center;
  justify-content: center;

}

#game-time {
  width: fit-content;
  padding: 24px;

  background: #EDEDED;
  border-radius: 12px;

  /* Headers / Jumbo – black */
  font-style: normal;
  font-weight: 900;
  font-size: 34px;
  line-height: 40px;
  /* identical to box height */

  letter-spacing: 0.25px;

  /* Gray / 700 */

  color: #373745;
}

#game-board {

  box-sizing: border-box;
  width: 663px;
  height: 663px;
  display: grid;

  grid-template-columns: repeat(3, 218.33px);
  align-items: start;
  gap: 4px;
  
  filter: drop-shadow(0px 4px 20px rgba(44, 57, 121, 0.09));
}

#game-board .cell {
 
  height: 100%;
  padding: 0;
  /* Gray / White */

  background: #FFFFFF;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#game-step {
  width: 400px;
  height: 48px;
  padding: 12px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  /* Gray / 700

  Text
  */
  background: #373745;
  /* Elevation / Lv2 */

  box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
  border-radius: 12px;

  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */

  letter-spacing: 0.15px;

  /* Gray / White */

  color: #FFFFFF;
}

#chat-container {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-self: flex-end;
  padding: 0px;
  margin-bottom: 88px;
  gap: 20px;

  width: 412px;

  /* Body / 16px regular */
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  letter-spacing: 0.24px;

  /* Gray / 700 */

  color: #373745;
}

.msgs-container {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 12px;
}

.msg-container {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
  gap: 8px;
  width: 352px;
  box-sizing: border-box;

  /* Gray / White */

  background: #FFFFFF;
  /* Elevation/Lv1 */

  box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
}

.msg-container.other {
  align-self: flex-start;
  border-radius: 16px 16px 16px 0px;
}

.msg-container.me {
  align-self: flex-end;
  border-radius: 16px 16px 0px 16px;
}

.msg-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  width: -webkit-fill-available;
}

.subject-name {
  /* Body / 14px medium */
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  letter-spacing: 0.25px;
}

.subject-name.x {
  color: #60C2AA;
}

.subject-name.zero {
  color: #E38BAC;
}

.msg-header .time {
  /* Body / 14px regular */
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  letter-spacing: 0.25px;

  /* Gray / 400 */

  color: #898993;
}

.msg-interactive-elements {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  padding: 0px;
  gap: 12px;
  width: -webkit-fill-available;
}

.msg-interactive-elements button {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px;
  gap: 8px;

  width: 48px;
  height: 48px;

  background: #60C2AA;
  border-radius: 12px;
}

.msg-interactive-elements textarea {
  resize: none;
  width: -webkit-fill-available;
  height: 48px;
  max-height: max-content;
  overflow: hidden;
  /* Textfield */


  box-sizing: border-box;

  /* Auto layout */

  padding: 12px 20px;
  gap: 8px;

  /* Gray / White */

  background: #FFFFFF;
  /* Gray / 100 */

  border: 1px solid #DCDCDF;
  border-radius: 12px;


  /* Body / 16px regular */
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: 0.24px;

  color: #373745;
}

/* rating */
.body_rating {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  background: #F6F6F6;
}

* {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.header_rating {
  position: fixed;
  width: -webkit-fill-available;
  height: 64px;
  left: 0;
  top: 0;
  box-sizing: border-box;
  /* Gray / White */

  background: #FFFFFF;
  /* Elevation/Lv1 */

  box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
  border-radius: 0px 0px 16px 16px;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  gap: 10px;
}


#nav-panel {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 16px;
  
  height: 32px;


  /* Inside auto layout */

  flex: none;
  flex-grow: 0;
}

#nav-panel div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 4px 12px;
  gap: 10px;

  /* Inside auto layout */

  flex: none;
  flex-grow: 0;

  /* Body / 16px medium */

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: 0.24px;

  /* Gray / 700 */

  color: #373745;
}

#nav-panel .active {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 4px 12px;
  gap: 10px;

  background: #60C2AA;
  border-radius: 200px;
  color: white;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
#rating {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 32px 44px;
  position: absolute;
  width: 1026px;
  height: 856px;
  top: 144px;

  box-sizing: border-box;

  /* Gray / White */

  background: #FFFFFF;
  /* Elevation / Lv2 */

  box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
  border-radius: 40px;
}
table {
  width: 962px;
  box-sizing: border-box;
  border-spacing: 10px;
  
}
#table-name{

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #373745;
  line-height: 150%;
}

th {
  box-sizing: border-box;


  height: 24px;
  /* Body / 16px medium */
  padding: 8px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  align-items: start;
  text-align: center;
  letter-spacing: 0.24px;

  /* Gray / 700 */

  color: #373745;
}
td {


  
  height: 24px;
  /* Body / 16px medium */
  padding: 8px;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  align-items: start;

  letter-spacing: 0.24px;

  /* Gray / 700 */

  color: #373745;
}
.firstcol{
  box-sizing: border-box;
  width: 440px;
  text-align: start;
}
.stcol {
  box-sizing: border-box;
  width: 108px;
  text-align: start; 
}
.stcol-green{
  box-sizing: border-box;
  width: 108px;
  text-align: start;
  color:#69B849;
}
.stcol-red{
  box-sizing: border-box;
  width: 108px;
  text-align: start;
  color:#E93E3E;
}
.lastcol {
  box-sizing: border-box;
  width: 134px;
  text-align: start;
}
